#use the first disk
ignoredisk --only-use=sda
#use text installation
text
install
# clear partitions
clearpart --all --drives=sda
# add repositories as sources of packages
repo --name=fedora --mirrorlist=https://mirrors.fedoraproject.org/mirrorlist?repo=fedora-29&arch=x86_64
repo --name=updates --mirrorlist=https://mirrors.fedoraproject.org/mirrorlist?repo=updates-released-f29&arch=x86_64
url --mirrorlist=https://mirrors.fedoraproject.org/mirrorlist?repo=fedora-29&arch=x86_64
#rpm fusion repos
repo --name=rpmfusion-free-released --mirrorlist=https://mirrors.rpmfusion.org/mirrorlist?repo=free-fedora-29&arch=x86_64
repo --name=rpmfusion-free-updates --mirrorlist=https://mirrors.rpmfusion.org/mirrorlist?repo=free-fedora-updates-released-29&arch=x86_64
repo --name=rpmfusion-nonfree --mirrorlist=https://mirrors.rpmfusion.org/mirrorlist?repo=nonfree-fedora-29&arch=x86_64 --includepkgs=rpmfusion-nonfree-release
repo --name=rpmfusion-nonfree-updates --mirrorlist=https://mirrors.rpmfusion.org/mirrorlist?repo=nonfree-fedora-updates-released-29&arch=x86_64 --includepkgs=rpmfusion-nonfree-release
# Keyboard layouts
keyboard --vckeymap=cz --xlayouts='cz'
# System language
lang cs_CZ.UTF-8

# Network setup
network  --bootproto=dhcp --device=ens3 --ipv6=auto --activate
network  --hostname=localhost.localdomain
# Root password
rootpw @g0r@@g0r@!
# X Window System configuration information
xconfig  --startxonboot
# Do not run the Setup Agent on first boot
firstboot --disable
# System services
services --enabled="chronyd"
# System timezone
timezone Europe/Prague --isUtc
# add test user
user --groups=wheel --name=test --password=hesloheslo --plaintext --gecos="Testovaci Uzivatel"
# Disk partitioning information
#bios boot partition
part biosboot --fstype="biosboot" --size=1
# root partition
part / --fstype="ext4" --label="agoraroot" --size=16384
# data partition, vfat makes installation freeze so therefore formatting as ext4, removed from /etc/fstab at the end and reformatted to vfat
part /mnt/data --fstype="ext4" --label="agoradata" --grow
#bootloader setup
bootloader 


%addon com_redhat_kdump --disable --reserve-mb='128'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end


%packages
@mate
compiz
compiz-plugins-main
compiz-plugins-extra
compiz-manager
compizconfig-python
compiz-plugins-experimental
libcompizconfig
compiz-plugins-main
ccsm
simple-ccsm
emerald-themes
emerald
fusion-icon
@networkmanager-submodules

# some apps from mate-applications
caja-actions
mate-disk-usage-analyzer

# blacklist applications which breaks mate-desktop
-audacious

# office
@libreoffice

# dsl tools
rp-pppoe

# FIXME; apparently the glibc maintainers dislike this, but it got put into the
# desktop image at some point.  We won't touch this one for now.
nss-mdns

# Drop things for size
-@3d-printing
-fedora-icon-theme
-gnome-icon-theme
-gnome-icon-theme-symbolic
-gnome-software
-gnome-user-docs

-@mate-applications
-mate-icon-theme-faenza

# Help and art can be big, too
-gnome-user-docs
-evolution-help

# Legacy cmdline things we don't want
-telnet

#customizations for Agora
#removing inaccessible packages
-filezilla
-exaile
-gnote
-hexchat
#additional software for Agora
gimagereader-qt
pidgin
purple-facebook
purple-skypeweb
pidgin-skypeweb
xsane
#firmware	
iwl7260-firmware
b43-openfwwf
iwl6000g2b-firmware
iwl6000g2a-firmware
iwl2030-firmware
iwl2000-firmware
iwl6050-firmware
iwl3160-firmware
iwl5150-firmware
iwl5000-firmware
iwl4965-firmware
iwl3945-firmware
iwl135-firmware
iwl105-firmware
iwl1000-firmware
iwl100-firmware
iwl6000-firmware
ipw2200-firmware
ipw2100-firmware
zd1211-firmware
crystalhd-firmware
atmel-firmware
iscan-firmware
alsa-firmware
ptouch-driver
c2esp
gutenprint-cups
cups-bjnp
cups-filters
foomatic-db
foomatic-db-ppds
splix
xorg-x11-drv-nvidia
foo2qpdl
xorg-x11-drv-nouveau
foo2slx
foo2hiperc
libsane-hpaio
foo2oak
foo2ddst
foo2xqx
foo2zjs
foo2hp
foo2hbpl
fuse-exfat
audacity
soundconverter
tesseract-langpack-ces
tesseract-langpack-slk
langpacks-cs
langpacks-sk
ifuse
git
curl
#lios dependencies
python3-sane
cuneiform
python3-enchant
aspell-en
vlc
sed
java-atk-wrapper
qt-at-spi
%end

%post
echo "== RPM Fusion Free: Base section =="
echo "Importing RPM Fusion keys"
rpm --import /etc/pki/rpm-gpg/RPM-GPG-KEY-rpmfusion-free-fedora-*-primary
echo "Importing RPM Fusion keys"
rpm --import /etc/pki/rpm-gpg/RPM-GPG-KEY-rpmfusion-nonfree-fedora-*-primary
#formatting as vfat
mkfs.vfat -n agoradata /dev/sda3
sed -i '/\/mnt\/data/d' etc/fstab
#installing lios
cd /tmp/
git clone https://gitlab.com/Nalin-x-Linux/lios-3.git
cd lios-3
python3 setup.py install --install-data=/usr
cd ..
rm -rf lios-3
echo "Preparing accessibility override..."
cat > /etc/dconf/db/local.d/01-accessibility <<- EOM
# Be nice to the users and pre-enable screen reading if they decide to install Gnome.
[org/gnome/desktop/a11y/applications]
screen-reader-enabled=true

[org/mate/desktop/applications/at/visual]
startup=true

[x/dm/slick-greeter]
screen-reader=true
EOM
echo "Preparing Mate panel configuration override..."
cat > /etc/dconf/db/local.d/02-panel <<- EOM
[org/mate/desktop/interface]
accessibility=true

[org/mate/panel/general]
object-id-list=['menu-bar', 'terminal', 'web-browser', 'email-client', 'volume-control', 'notification-area', 'show-desktop', 'window-list', 'object-0']
toplevel-id-list=['top']

#[org/mate/panel/objects/clock]
#applet-iid='ClockAppletFactory::ClockApplet'
#locked=true
#object-type='applet'
#panel-right-stick=true
#position=0
#toplevel-id='top'

[org/mate/panel/objects/email-client]
launcher-location='/usr/share/applications/mozilla-thunderbird.desktop'
locked=true
object-type='launcher'
position=40
toplevel-id='top'

[org/mate/panel/objects/file-browser]
launcher-location='/usr/share/applications/caja-browser.desktop'
locked=true
object-type='launcher'
position=10
toplevel-id='top'

[org/mate/panel/objects/menu-bar]
locked=true
object-type='menu-bar'
position=0
toplevel-id='top'

[org/mate/panel/objects/notification-area]
applet-iid='NotificationAreaAppletFactory::NotificationArea'
locked=true
object-type='applet'
panel-right-stick=true
position=10
toplevel-id='top'

#[org/mate/panel/objects/show-desktop]
#applet-iid='WnckletFactory::ShowDesktopApplet'
#locked=true
#object-type='applet'
#position=0
#toplevel-id='bottom'

[org/mate/panel/objects/terminal]
launcher-location='/usr/share/applications/mate-terminal.desktop'
locked=true
object-type='launcher'
position=20
toplevel-id='top'

[org/mate/panel/objects/volume-control]
applet-iid='GvcAppletFactory::GvcApplet'
locked=true
object-type='applet'
panel-right-stick=true
position=20
toplevel-id='top'

[org/mate/panel/objects/web-browser]
launcher-location='/usr/share/applications/firefox.desktop'
locked=true
object-type='launcher'
position=30
toplevel-id='top'

#[org/mate/panel/objects/window-list]
#applet-iid='WnckletFactory::WindowListApplet'
#locked=true
#object-type='applet'
#position=20
#toplevel-id='bottom'
EOM
echo "Updating dconf databases..."
dconf update
# enabling QT5 accessibility
cat > /etc/profile.d/qtaccessibility.sh <<EOM
# enables QT5 accessibility system-vide
export QT_LINUX_ACCESSIBILITY_ALWAYS_ON=1
EOM
# add grub tune
echo 'GRUB_INIT_TUNE="800 33 1 65 1 131 1 262 1"' >> /etc/default/grub
grub2-mkconfig -o /boot/grub2/grub.cfg
#making graphical applications ran with sudo accessible
sed -i '/Defaults    env_keep += "LC_TIME LC_ALL LANGUAGE LINGUAS _XKB_CHARSET XAUTHORITY"/a \nDefaults    env_keep += "GTK_MODULES QT_ACCESSIBILITY"\n' /etc/sudoers
%end